In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import os

訓練データとテストデータの読み込み

In [3]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [4]:
train

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country,Y
0,0,22,Private,132618,Some-college,12,Never-married,Tech-support,Own-child,White,Female,United-States,0
1,1,22,Private,132655,Bachelors,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,Mexico,1
2,2,23,?,132674,HS-grad,8,Never-married,Other-service,Not-in-family,White,Female,United-States,0
3,3,36,Private,132642,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,United-States,1
4,4,49,Private,132646,Assoc-voc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,10195,31,Private,132650,Bachelors,9,Divorced,Craft-repair,Other-relative,White,Female,Mexico,0
10196,10196,36,Private,132590,HS-grad,9,Married-civ-spouse,Exec-managerial,Unmarried,White,Male,Mexico,0
10197,10197,36,Local-gov,132498,Bachelors,13,Married-civ-spouse,?,Husband,Black,Male,United-States,0
10198,10198,17,Private,132614,Some-college,9,Never-married,?,Not-in-family,White,Female,United-States,0
10199,10199,36,?,132691,Assoc-voc,4,Divorced,Prof-specialty,Husband,Black,Male,United-States,0

In [5]:
test

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country
0,10200,30,Private,132646,HS-grad,12,Divorced,Prof-specialty,Unmarried,White,Male,Mexico
1,10201,30,Private,132626,HS-grad,4,Never-married,Sales,Wife,White,Female,United-States
2,10202,36,Private,132505,Bachelors,8,Married-civ-spouse,Prof-specialty,Husband,White,Male,Mexico
3,10203,23,Private,132610,HS-grad,9,Divorced,?,Not-in-family,White,Female,United-States
4,10204,36,Private,132468,12th,9,Married-civ-spouse,Sales,Husband,White,Male,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...
6795,16995,31,Private,132530,Some-college,9,Divorced,Handlers-cleaners,Not-in-family,White,Female,United-States
6796,16996,31,Private,132634,Bachelors,6,Never-married,Transport-moving,Not-in-family,Asian-Pac-Islander,Male,United-States
6797,16997,31,Private,132598,HS-grad,13,Widowed,Farming-fishing,Not-in-family,White,Male,United-States
6798,16998,23,Private,132573,Some-college,8,Divorced,?,Not-in-family,Black,Female,United-States
6799,16999,23,?,132633,5th-6th,9,Never-married,Other-service,Own-child,White,Female,United-States

In [6]:
#index列をドロップさせる
train = train.drop('index', axis=1)

#id列をドロップさせる
test = test.drop('id', axis=1)

In [7]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country,Y
0,22,Private,132618,Some-college,12,Never-married,Tech-support,Own-child,White,Female,United-States,0
1,22,Private,132655,Bachelors,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,Mexico,1
2,23,?,132674,HS-grad,8,Never-married,Other-service,Not-in-family,White,Female,United-States,0
3,36,Private,132642,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,United-States,1
4,49,Private,132646,Assoc-voc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10195,31,Private,132650,Bachelors,9,Divorced,Craft-repair,Other-relative,White,Female,Mexico,0
10196,36,Private,132590,HS-grad,9,Married-civ-spouse,Exec-managerial,Unmarried,White,Male,Mexico,0
10197,36,Local-gov,132498,Bachelors,13,Married-civ-spouse,?,Husband,Black,Male,United-States,0
10198,17,Private,132614,Some-college,9,Never-married,?,Not-in-family,White,Female,United-States,0
10199,36,?,132691,Assoc-voc,4,Divorced,Prof-specialty,Husband,Black,Male,United-States,0

In [8]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country
0,30,Private,132646,HS-grad,12,Divorced,Prof-specialty,Unmarried,White,Male,Mexico
1,30,Private,132626,HS-grad,4,Never-married,Sales,Wife,White,Female,United-States
2,36,Private,132505,Bachelors,8,Married-civ-spouse,Prof-specialty,Husband,White,Male,Mexico
3,23,Private,132610,HS-grad,9,Divorced,?,Not-in-family,White,Female,United-States
4,36,Private,132468,12th,9,Married-civ-spouse,Sales,Husband,White,Male,United-States
...,...,...,...,...,...,...,...,...,...,...,...
6795,31,Private,132530,Some-college,9,Divorced,Handlers-cleaners,Not-in-family,White,Female,United-States
6796,31,Private,132634,Bachelors,6,Never-married,Transport-moving,Not-in-family,Asian-Pac-Islander,Male,United-States
6797,31,Private,132598,HS-grad,13,Widowed,Farming-fishing,Not-in-family,White,Male,United-States
6798,23,Private,132573,Some-college,8,Divorced,?,Not-in-family,Black,Female,United-States
6799,23,?,132633,5th-6th,9,Never-married,Other-service,Own-child,White,Female,United-States

In [11]:
#欠損値がないか確認
print(train.isnull().sum())
print(test.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
native-country    0
Y                 0
dtype: int64
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
native-country    0
dtype: int64
age                 0
workclass         695
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        832
relationship        0
race                0
sex                 0
native-country      0
Y                   0
dtype: int64
age                 0
workclass         450
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        556
relationship        0
race                0
sex                 0
native-country      0
dtype: int64

In [12]:
#?の数を確認
print(train.isin(['?']).sum())
print(test.isin(['?']).sum())

age                 0
workclass         695
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        832
relationship        0
race                0
sex                 0
native-country      0
Y                   0
dtype: int64
age                 0
workclass         450
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        556
relationship        0
race                0
sex                 0
native-country      0
dtype: int64

In [ ]:
train = train.replace('?', np.NaN)
test = test.replace('?', np.NaN)